* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
  }
  
  #stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: black;
  }
  
  .container {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .game-title {
    font-size: 3rem;
    margin-bottom: 2rem;
    animation: glow 2s infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff;
    }
    to {
      text-shadow: 0 0 30px  #20cfcf;
    }
  }

  .centerbtn {
    background-color: #20cfcf;
    border: none;
    padding: 1rem 2rem;
    border-radius: 12px;
    font-size: 1.4rem;
    font-weight: bold; 
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px #20cfcf;
    margin: 20px;
    width: 200px;
  } 

  
  .centerbtn:hover {
    background-color:  #20cfcf;
    box-shadow: 0 0 20px  #20cfcf;
  }
  
  .settings-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  z-index: 2;
  transition: transform 0.2s ease;
}

.settings-btn:hover {
  transform: rotate(90deg);
}


.close-btn{
    position: absolute;
  top: 20px;
  left: 20px;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  z-index: 2;
  transition: transform 0.2s ease;
}



.about-btn {
  background-color: transparent;
  color:  #20cfcf;
  border: 2px solid  #20cfcf;
  padding: 1rem 2rem;
  border-radius: 12px;
  font-size: 1.1rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.about-btn:hover {
  background-color:  #20cfcf;
  color: white;
  box-shadow: 0 0 15px  #20cfcf;
}
input.form-control {
  margin: 10px;
  padding: 1rem;
  width: 200px;
  max-width: 200px;
  font-size: 1.2rem;
  border: 2px solid #20cfcf;
  border-radius: 12px;
  outline: none;
  background-color: transparent;
  color: #fff;
  box-shadow: 0 0 10px #20cfcf;
  transition: all 0.3s ease;
}
input.form-control::placeholder {
  color: #aaa;
  font-size: smaller;
}

input.form-control:focus {
  box-shadow: 0 0 20px #20cfcf;
}

.main
.form-label {
  color: #ddf3f3;
  font-size: 1.2rem;
  margin-bottom: 8px;
  margin-right: 10px;
  padding: 5px 10px;
  display: block;
  font-weight: 600;
  text-shadow: 0 0 5px #20cfcf;
  letter-spacing: 0.5px;
}
.form-label::before {
  content: "✦ ";
  color: #cadada;
}
