
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
  }
  
  #stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: black;
  }
  
  .game-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    z-index: 1;
    text-align: center;
    color: #fff;
    height: 100%;
  }
  
  .title {
    font-size: 3rem;
    margin-bottom: 2rem;
    animation: glow 2s infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff;
    }
    to {
      text-shadow: 0 0 30px #20cfcf;
    }
  }

  .difficulty {
    background-color: #20cfcf;
    border: none;
    padding: 1rem 2rem;
    border-radius: 12px;
    font-size: 1.4rem;
    font-weight: bold; 
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px #20cfcf;
  }
  
  .difficulty:hover {
    background-color:  #20cfcf;
    box-shadow: 0 0 20px  #20cfcf;
  }
  
  .difficulty-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .difficulty {
    background-color:  #20cfcf;
    border: none;
    padding: 1rem 2rem;
    border-radius: 12px;
    font-size: 1.4rem;
    font-weight: bold; 
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px  #20cfcf;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .difficulty:hover {
    background-color:  #20cfcf;
    box-shadow: 0 0 20px  #20cfcf;
  }

  .difficulty img {
    width: 30px;
    margin-right: 10px;
  }
  .settings-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  z-index: 2;
  transition: transform 0.2s ease;
}

.settings-btn:hover {
  transform: rotate(90deg);
}
